.App {
  font-family: "Lexend", sans-serif;
  text-align: center;

  .section-container {
    padding-top: 100px;
  }

  .section-header {
    font-family: "Rubik Mono One", sans-serif;
    font-size: 40px;
  }
}
