#contact {
  background-color: #b7c7ff;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 750px;
  justify-content: center;

  .section-header {
    margin-bottom: 30px;
  }

  .ant-card {
    min-width: 300px;
    width: 30%;

    .ant-card-body {
      .success-message {
        font-size: 18px;
      }
    }
  }
}
