.nav-bar {
  align-items: center;
  background-color: #000f60;
  color: #ffe5e5;
  display: flex;
  height: 100px;
  opacity: 0.9;
  position: fixed;
  width: 100%;

  .nav-bar-link {
    cursor: pointer;
    font-family: "Rubik Mono One", sans-serif;
    font-size: 20px;
    width: 20%;
  }
}
